<div fxLayout="column wrap" class="relative" fxLayoutGap=".7em" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="color-black pointer close-btn absolute" (click)="closeDialog()">close</mat-icon>
  <div fxLayout="row wrap" fxLayoutGap=".5em" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="color-red" *ngIf="!page.isDeclingApplication">warning</mat-icon><mat-icon class="color-red" *ngIf="page.isDeclingApplication">cancel</mat-icon></div>
    <h3 class="no-margin">
      {{page.isDeclingApplication ? &apos;Decline&apos; : &apos;Delete&apos;}} Application
    </h3>
  </div>
  <p *ngIf="!page.isDeclingApplication" class="no-margin f-size-small">
    Are you sure you want to bin application?</p>
  <div fxLayout="column wrap" fxLayoutGap=".2em" fxLayoutAlign="start stretch" [fxShow]="true">
    <p class="no-margin f-size-small">
      <b *ngIf="page.isDeclingApplication">Message:</b><b *ngIf="!page.isDeclingApplication">Type &quot;{{page.confirmationEmail}}&quot; to confirm your action</b>
    </p>
    <div>
      <input *ngIf="!page.isDeclingApplication" class="confirmInput" (input)="confirmAction()" [(ngModel)]="page.confirmationField.email" type="text">
      <textarea *ngIf="page.isDeclingApplication" placeholder="Type email feedback ..." class="confirmInput" (input)="confirmAction()" [(ngModel)]="page.confirmationField.email" cols="5" rows="3"></textarea>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="end stretch" [fxShow]="true"><button mat-button class="border-1px" (click)="closeDialog()">Cancel</button><button mat-button class="border-1px" *ngIf="page.isDeclingApplication" (click)="actionConfirmed()" [disabled]="!page.actionConfirmed">send</button><button mat-button class="border-1px" *ngIf="!page.isDeclingApplication" (click)="actionConfirmed()" [disabled]="!page.actionConfirmed">delete</button></div>
</div>