<div fxLayout="column wrap" class="full-width" fxLayoutAlign="center center" [fxShow]="true" fxFill>
  <div *ngIf="page.showSpinner" class="spinner-login absolute">
    <mat-spinner></mat-spinner>
  </div><img imgSrc="/Web/Images/FNB.jpg" class="image-size">
  <div fxLayout="column wrap" fxLayoutGap="0.5em" fxLayoutAlign="start stretch" [fxShow]="true" [formGroup]="page.emailFormGroup">
    <div fxLayout="column wrap" fxLayoutAlign="start start" [fxShow]="true">
      <h2 class="no-margin">
        Enter your email</h2>
    </div>
    <div fxLayout="column wrap" class="margin-bottom-1" fxLayoutAlign="start stretch" [fxShow]="true">
      <div class="relative">
        <input class="input-field" type="text" required formControlName="email"><small *ngIf="page.emailFormGroup.get(&apos;email&apos;)?.hasError(&apos;required&apos;) &amp;&amp; page.emailFormGroup.get(&apos;email&apos;)?.touched" class="err-msg color-red absolute">This field is <strong>required</strong></small><small *ngIf="page.emailFormGroup.get(&apos;email&apos;)?.hasError(&apos;pattern&apos;) &amp;&amp; page.emailFormGroup.get(&apos;email&apos;)?.touched" class="err-msg color-red absolute">Enter a <strong>valid</strong> email address</small>
      </div>
    </div>
    <div fxLayout="row wrap" class="email_verifi_buttom flex full-width" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true">
      <div fxLayout="column wrap" class="width-40" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-button class="bg-fnb-green full-width login-btn" routerLink="/login">Back</button></div>
      <div fxLayout="column wrap" class="width-40" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-button class="full-width login-btn" (click)="submit()">Continue</button></div>
    </div>
  </div>
</div>